<h1>Editing Comment</h1>

<%#= form_with(model: [@post, @comment], local: true) do |form| %>
<%= simple_form_for @comment do |form| %>
    <%= form.input :body %>
    <%= form.button :submit %>
<% end %>

    <%#= render 'form', form: form %>
  
<%# end %>
<%#= render 'form', comment: @comment %>

<%# link_to 'Show', @comment %> 
<%= link_to 'Back to list of comments of the post', post_comments_path(@comment.post) %>
