<h1>New Comment for Post # <%= @post.id %></h1>


<%#= form_with(model: comment, local: true) do |form| %>
<%= form_with(model: [@post, @comment], local: true) do |form| %>

    <%= render 'comments/form', form: form %>
  
<% end %>
<pre>
# comments#new
def new
  @post = Post.find(params[:post_id]) # <=> before_action :set_post
  @comment = @post.comments.build
end
</pre>
<pre>
#views/comments/new.html.erb
&lt%= form_with(model: [@post, @comment], local: true) do |form| %>

    &lt%= render 'comments/form', form: form %>
  
&lt% end %>
</pre>
<%= link_to 'Back to Comments of the post', post_comments_path, class:"badge badge-info", style:"color:white;font-size:14px;" %>
